:root {
    --sidebar-custom-width: 300px;

    --primary-color: #237461;                    
    --secondary-color: #0ea12414;
    --light-green-color: #0ca07deb;   
    --lightdark-green-color: #5aa694;   ;   
}

@media (min-width: 768px) {
    body.full-width .container {
        width: 98%;
        max-width: 100%;
    }
}

.navbar-home img {
    width: 100px;
    height: 50px;
    background-color: white;
    padding: 3px 0;
    border-radius: 5px;
    box-shadow: #5aa694 0px 0px 10px 0px;
}
.navbar {
    background-color: var(--primary-color);
}

.max-content-width {
    width: max-content;
    max-width: 250px;
}
.layout-main-section{
    background-color: #5aa694 !important;

}